/*Employee details*/
.employee-details-bg {
    background-color: #003D7C;
}

.employee-details-margin
{
    margin-top:5%;
}

.employee-details-bg label 
{
    font: bold;
    color: crimson;
}


.employee-details-fg 
{
    background-color: #F8F8F8;
}

    .employee-details-fg div {
        margin-top: 2%;
    }